{{- /* old index.html */ -}}

{{- /* define "main" */ -}}

{{- /* partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) */ -}}

{{- /* partial "short-text" .Params.blurb */ -}}

{{- /* partial "2-up" .Params */ -}}

{{- /* partial "text-and-image" (dict "heading" .Params.values.heading "text" .Params.values.text "buttonText" "Read more" "buttonLink" "/values") */ -}}

{{- /* partial "blog" . */ -}}

{{- /* end */ -}}

{{- /* end old index.html */ -}}

{{ define "main" }}

{{ partial "hero.html" . }}

<div class="container">
  <div class="row animate">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "post") }}
    {{ range $paginator.Pages }}
      {{ partial "article-content.html" . }}
    {{ end }}
  </div>
</div>

{{ partial "pagination.html" . }}

{{ partial "section-tags.html" . }}

{{ end }}
